:root {
    --primary-color: #8a4bff;
    --primary-color-lighter: #a97bff;
    --primary-color-lower-contrast: #a491c9;
    --primary-color-hover: #783ce7;
    --footer-color: #271d3d;

    --background: #221833;
    --dark: #182133;
    --white: #fff;
    --projects-normal-state-button: #334974;
    --projects-normal-state-button-text: #8b99b8;

    --success-button-background: #33eb61 !important;
    --sucess-button-border: #9cff9f !important;

    --paragraph: #d5daeb;
    --list: #98a7c5;

    --transition-function: cubic-bezier(0.65, 0.05, 0.36, 1);
}

body {
    background-color: var(--background);
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%237e26ff' fill-opacity='0.1'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

body, html {
    font-family: 'Inter', sans-serif !important;
    color: var(--white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: antialiased;
}

i {
    font-size: 20px;
}

p {
    font-size: 18px;
    color: var(--paragraph);
}

li {
    font-family: 'JetBrains Mono', monospace;
    color: var(--list);
    font-size: 16px;
}

ul {
    list-style: none;
}

ul.list-group li::before {
    content: "▸";
    color: var(--primary-color-lighter);
    display: inline-block;
    width: 1em;
    margin-left: 0em;
}

.fw-bolder {
    font-weight: 800 !important;
}

.url {
    color: var(--white) !important;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.url:hover {
    color: var(--primary-color-lighter) !important;
}

.darker {
    color: var(--primary-color-lower-contrast) !important;
}

.nav-link {
    color: var(--white);
    font-family: 'JetBrains Mono', monospace;
}

.nav-link:hover {
    color: var(--primary-color);
}

.primary-color {
    color: var(--primary-color);
    font-family: 'JetBrains Mono', monospace;
}
.more-white {
    color: var(--primary-color);
    opacity: 1;
}

.sub-header {
    font-family: 'JetBrains Mono', monospace;
    color: var(--primary-color);
}

.btn {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.5px;
    border-radius: 5px;
    border: 2px solid var(--white);
    transition: transform 0.3s var(--transition-function), background-color 0.3s var(--transition-function), color 0.3s var(--transition-function), box-shadow 0.3s var(--transition-function), border-color 0.3s var(--transition-function);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    box-shadow: 10px 10px 0px #131212ab;
    transform: translateY(-5px);
}

.btn-outline-primary {
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;
}

.btn-outline-primary:hover, .btn-outline-primary:focus {
    background-color: var(--primary-color-hover) !important;
    border-color: var(--primary-color-hover) !important;
    color: var(--white) !important;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color-lighter);
    color: var(--white);
}

.btn-primary:hover, .btn-primary:focus {
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color);
    color: var(--white);
}

.about-me-picture {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
    box-shadow: 5px 5px 25px #131212ab;
}

.btn-work {
    background-color: transparent;
    border-left: 3px solid var(--projects-normal-state-button) !important;
    color: var(--projects-normal-state-button-text) !important;
    border-radius: 0 !important;
}

.btn-work.active {
    border-color: var(--primary-color-lighter) !important;
    background-color: transparent !important;
    color: var(--primary-color-lighter) !important;
    font-weight: 900 !important;
}

.btn-success {
    background-color: var(--success-button-background) !important;
    border-color: var(--sucess-button-border) !important;
    color: var(--dark) !important;
}

footer {
    background-color: var(--footer-color);
    padding: 20px;
    color: var(--white) !important;
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    text-align: center;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 0px 0px 35px #1312126e;
}

.navbar-toggler {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    width: 54px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-brand {
    font-weight: 700;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border: 3px solid var(--background);
    border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color-hover);
}